<div class="container">
<div class="row">
  <div class="card-trip">
      <img src="https://media.istockphoto.com/photos/modern-full-black-solar-panels-on-the-roof-of-a-house-picture-id1368767863?b=1&k=20&m=1368767863&s=170667a&w=0&h=8ZbPuelGJJcpaBz5M6INTx_BERdZoje7MskPw7jKfeY= "/>
    <div class="card-trip-infos">
      <div>
        <h2>ROOF CALCULATOR</h2>
        <p class= "pa-address">
        <span class="infos-address"><a class="btn btn-gradient" href="#">Address</a></span> <%= @building.address %></p>
        <p class= "pa-diagonale">
        <span class="infos-diagonal"><a class="btn btn-gradient" href="#">Diagonal</a></span> <%= @building.diagonal.round %> m </p>
        <p class= "pa-surface">
        <span class="infos-surface"><a class="btn btn-gradient" href="#">Surface</a></span> <%= @building.surface.round %> m2 </p>
      </div>
    </div>
  </div>
  <%= render "map" %>
</div>
</div>
