.link{
  text-decoration: none;
  color: black;
}
.container-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ul-list{
  width: 400px ;
  height: 150px;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.li-element{
  padding-right: 5px;
}
.infos-location{
  font-weight: bold;
}
